</main>
<nav id="nav-final" class="bottom"><ul><li><form action="/" method="get"><button>Back to Homepage</button></form></li><li><form action="/editAll" method="get"><button>Edit Currency Options</button></form></li></ul></nav>
</body>
</html>
