</main>
<!--<nav id="nav-final" class="bottom"><ul><li><form action="/" method="get"><button>Back to Homepage</button></form></li><li><form action="/editAll" method="get"><button>Edit Currency Options</button></form></li></ul></nav> -->
<script type="text/javascript">
const logs = console.log;
// set currency calculator return

/* define from currency, to currency, and amount
 using native vanJS... but this ajax does need jQuery */

// object with arrs to store data & results
const stored = {
  amountres: [],
  prevres: [],
  toFromSelects: []

}

// object w/ DOM selects
const sel = {
  amount: document.getElementById("amount"),

  amountre: document.getElementById("amount-alt"),

  from: document.getElementById('from'),

  to: document.getElementById('to'),

  topH1:  document.getElementById('anelement'),

  top5: document.getElementById('top5'),

  tofrom: () => {
              let x = sel.from.value;
              x+= sel.to.value;
              sel.topH1.innerHTML = x; // for display to DOM
              logs(x + ' the key value');
              let z = stored.toFromSelects;
              while (z.length > 0) {
                z.pop();

              };

              stored.toFromSelects.push(x);
              x = `${x}`;
              let r = stored.amountres[0][x]

              return r;

  }

}

const currency = () => {
  let endpoint = 'convert'; // only for premium currencylayer api
  let access_key = 'f837ff23f547c798a627fc281c063f05';
//  let access_key = 'e71cb1ae697644aaa7db80b76860daab' // for openexchangerates
  let feedto = sel.amountre;
//  let tofrom = sel.tofrom();
//  logs(`${tofrom} tofrom value`)

    if (stored.amountres.length < 1) { // call only once per load
          $.ajax({
              url: `http://apilayer.net/api/live?access_key=${access_key}`,
//              url: `https://openexchangerates.org/api/latest.json?app_id=${access_key}&base=USD`, //more accurate #s may need a different key due to data structure
              dataType: 'jsonp',
              success: function(json) {
                  logs(json.quotes); //log pulled data
                  stored.amountres.push(json.quotes);

              }

          }) //end ajax call to pull api data
        } // end stored.amountres.length if query

}

// update ajax call with setInterval
// *not so great because limited monthly requests
// setInterval(currency, 100000);

// trigger the call after the user inputs all related data
// & render data to dom
sel.amount.onfocus = () => {
  logs(`inputting... `);
  sel.amount.value = 0;

    sel.amount.onchange = () => {
      let amount = sel.amount.value;
      let to = sel.to.value;
      let from = sel.from.value;
      let results = sel.amountre;

        logs(`value changed to ${amount}. ${to} is to & ${from} is from.`);

        if ((amount != undefined) && (from != undefined) && (to != undefined)) {
          currency();

        } //end if check for set values
        let tofrom = sel.tofrom(); // a local tofrom()
        let x = tofrom;
        logs(x + 'localized tofrom call')

//        results.value = amount * x.USDGBP;
        results.value = amount * x;

      }

}


// when currency 'to' value changes, pull this and return
// to attach to base curr value for combined

</script>

</body>
</html>
