<script type="text/javascript">
const logs = console.log;
// set currency calculator return

/* define from currency, to currency, and amount
 using native vanJS... but this ajax does need jQuery */

// object with arrs to store data & results
const stored = {
  amountres: [],
  prevres: [],

}

// object w/ DOM selects
const sel = {
  amount: document.getElementById("amount"),

  amountre: document.getElementById("amount-alt"),

  from: document.getElementById('from'),

  to: document.getElementById('to'),

  tofrom: () => {
              let x = sel.from.value;
              x = `${x}${sel.to.value}`;
  //              logs(`Query req is ${x}`),
              return x;
  }

}

const currency = () => {
  let endpoint = 'convert'; // only for endpoint currencylayer api
//  let access_key = '19b3253e311dac1b4eb26daef9c1c988';
  let access_key = 'f837ff23f547c798a627fc281c063f05';
  let feedto = sel.amountre;
  let tofrom = sel.tofrom();
  logs(`${tofrom} tofrom value`)

    if (stored.amountres.length < 1) { // call only once per load
          $.ajax({
              url: `http://apilayer.net/api/live?access_key=${access_key}`,
              dataType: 'jsonp',
              success: function(json) {
                  //log pulled data
                  logs(json.quotes);
                  stored.amountres.push(json);

/*                  stored.amountres.pop();
                  stored.amountres.push(json.quotes);*/

              }

          }) //end ajax call
        } // end stored.amountres.length if query

}

// update ajax call with setInterval
// *not so great because limited monthly requests
// setInterval(currency, 100000);

// trigger the call after the user inputs all related data
// & render data to dom
sel.amount.onfocus = () => {
  logs(`inputting... `);

    this.onchange = () => {
      let amount = sel.amount.value;
      let to = sel.to.value;
      let from = sel.from.value;
      let tofrom = sel.tofrom();
      let results = sel.amountre;
        logs(`value changed to ${amount}. ${to} is to & ${from} is from. Then it's ${tofrom}...`);

        if ((amount != undefined) && (from != undefined) && (to != undefined)) {
          currency();
          results.value = amount * stored.amountres[0].quotes.USDGBP;

        } //end if check for set values

      }

}

// when currency 'to' value changes, pull this and return
// to attach to base curr value for combined

</script>

</body>
</html>
