<% include ./partials/header.ejs %>

<h1>Convert Currency Below:<h1>
<ul>
  <li>How many units?<br><input id="amount" type="number" placeholder="?$"></li><br>
  <li>Base Currency: <input id="from" class="currency" method="post" maxlength="3" type="text" value="USD" disabled></li><br>
  <li>Destination Currency: <input id="to" class="currency" method="post" maxlength="3" type="text" value="GBP" disabled></li><br>
  <li>Result: <input id="amount-alt" placeholder="0" disabled>  <!-- worry about a inverse in an upgrade instead --></li>

</ul>

<h3><a href="/map">Check out an informative map of your destination currency!</a></h3>

<% include ./partials/endasGBP.ejs %>
