<% include ./partials/header.ejs %>

<h1>Convert Currency Below:<h1>
<form>
  <ul><!-- worry about a inverse in an upgrade instead -->
    <li>How many units?<br><input id="amount" type="number" placeholder="?$"></li><br>
    <li>Base Currency: <input id="from" class="currency" method="post" maxlength="3" type="text" value="USD" disabled></li><br>
    <li>Destination Currency: <input id="to" class="currency" method="post" maxlength="3" type="text" value="GBP" disabled></li>
    <select method="POST" action="pagechange" type="dropdown">
      <optgroup><%# include ./optionstemp %>
        <option>◄ Select</option><option>Add New</option><option>###</option><option>###</option>
      </optgroup>
    </select><br>
    <li>Result: <input id="amount-alt" placeholder="0" disabled></li>

  </ul>
</form>
<h3><a href="/maps">Check out a map for your selected currency...</a></h3>

<% include ./partials/endasGBP.ejs %>
<%# include ./partials/end.ejs %>
