<% include ./partials/header.ejs %>
<h1>Edit Currency Option</h1>

<p><%= data.id %></p>
<p><%= data.country %></p>
<p><%= data.symbol %></p>

<p><%= data.gfxcode %></p>

<h3><a href="../">Return to Home</a></h3>

<% include ./partials/end-plain.ejs %>
