<% include ./partials/header.ejs %>
<h1>Currency Option for <%= table.symbol %></h1>

<p><%= table.id %></p>
<p><%= table.country %></p>
<p><%= table.symbol %></p>

<p><% table.gfxcode %></p>

<h3><a href="../">Return to Home</a></h3>

<% include ./partials/end-plain.ejs %>
