/* FOR GOOGLE MAPS */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 550px;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

}
/* FOR GOOGLE MAPS end */
body {
  position: relative;
  font-size: 100%;
  width: 66%;
  margin: 0 auto;

}
ul {
  list-style: none;

}

li {
  display: inline-block;

}
