body {
  position: relative;
  font-size: 100%;
  margin: 0;
  padding: 0;

}
body * {
  margin: 0;
  padding: 0;

}

nav {
  position: fixed;
  font-family: sans-serif;
  background: rgba(0,0,0,.9);
  color: white;
  bottom: 0;
  width: 100%;
  max-height: 100px;
  z-index: 1000;
  display: block;

}

nav ul {
  display: flex;
  flex-direction: row;
  position: relative;

}

nav > ul > li {
  width: 100%;
  padding: 0 1rem;


}

nav > ul > li button {
  position: relative;
  width: 100%;
/*  font-size: 20px; */

}

header {
  color: white;
  background: black;
  position: fixed;
  top: 0;
  padding: .33em;
  padding: .33rem;


}

header > * {
  font-size: 67%;

}

main {
  margin: 3em 1em 3em 1em;
  margin: 3rem 1rem ;

}

form#main ul li {
  margin: 1em 0;
  margin: 1rem 0;
  border-bottom: 3px solid skyblue;
  padding: .33em 0;
  padding: .33rem 0;

}

section {
    margin: 2em auto;
    margin: 2rem auto;

}

button {
  font-size: 1.5em;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  padding: .67em;

}

input, button {
  width: 100%;
  margin: .25rem 0;

}

input.currency {
  width: 4em;
  width: 4rem;
  display: inline-block;
  margin: .5em;
  margin: .5rem;

}

ul {
  list-style: none;

}

li {
  display: inline-block;

}

#anelement:after {
  content: 'Beta Bug Report: Deleting info runs into a crashed page without proper redirect, but it works. Top 5 populated destinations are worldwide and no local to country.';
  display: block;
  top: 0;
  color: grey;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  width: 300px;
  padding: .35rem;
  background-color: pink;
  border: 1px dashed red;
  margin: .33em 0;
  margin: .33rem 0;


}

.country {
    display: block;
    position: fixed;
    font-weight: bold;
    right: 1em;

}

/* FOR GOOGLE MAPS */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 #map {
   position: fixed;
   height: 480px;
   width: 100%;
 }


 /* Optional: Makes the sample page fill the window. */

 #description {
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
 }

 #infowindow-content .title {
   font-weight: bold;

 }

 #infowindow-content {
   display: none;

 }

 #map #infowindow-content {
   display: inline;

 }

 #pac-card.pac-card {
    position: fixed !important;
    top: 0 !important;
    width: 66% !important;
    right: 0;

 }

 .pac-card {
   margin: 10px 10px 0 0;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   background-color: #fff;
   font-family: Roboto;

 }

 #pac-container {
   padding-bottom: 12px;
   margin-right: 12px;

 }

 .pac-controls {
   display: inline-block;
   padding: 5px 11px;

 }

 .pac-controls label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;

 }

 #pac-input {
   background-color: #fff;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 77%;

 }

 #pac-input:focus {
   border-color: #4d90fe;

 }

 #title {
   color: #fff;
   background-color: #4d90fe;
   font-size: 25px;
   font-weight: 500;
   padding: 6px 12px;

 }


/* end styles for GOOGLE MAPS */
